<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="biblioteca" transaction-type="JTA">
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
   		<jta-data-source>biblioteca</jta-data-source>
		
		<class>biblioteca.dal.entidade.Editora</class>
		<class>biblioteca.dal.entidade.Obra</class>
		<class>biblioteca.dal.entidade.TipoObra</class>
		<class>biblioteca.dal.entidade.Genero</class>
		<class>biblioteca.dal.entidade.GeneroObra</class>
		<class>biblioteca.dal.entidade.Autor</class>
		<class>biblioteca.dal.entidade.AutorObra</class>
		<class>biblioteca.dal.entidade.Tipo</class>
		<class>biblioteca.dal.entidade.Exemplar</class>
		<class>biblioteca.dal.entidade.Emprestimo</class>
		<class>biblioteca.dal.entidade.Pessoa</class>
		<class>biblioteca.dal.entidade.Usuario</class>
			
		<properties>
			<property name="eclipselink.logging.level" value="FINE"/>
			<property name="eclipselink.logging.parameters" value="true"/>
			<property name="eclipselink.ddl-generation" value="create-tables"/>
		</properties>
	</persistence-unit>
</persistence>
